* {
  font-family: "roboto", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --backgroung-yellow: #eee366;
  --background-red: #ff0000;
}

.ramecek {
  width: 450px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  margin-right: auto;
  margin: 10px auto;
}

.bestseller {
  background-color: var(--backgroung-yellow);
  display: inline-block;
  width: 130px;
  line-height: 2;
  text-align: center;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  position: absolute;
  top: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.obrazek-container {
  margin-top: 10px;
  height: 350px;
  text-align: center;
}

.obrazek {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.sleva {
  position: absolute;
  top: 20px;
  right: 35px;
  display: inline-block;
  background-color: var(--background-red);
  color: #fff4f4;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 3.5;
  font-size: 20px;
  border-radius: 50%;
  font-weight: 600;
}

.produkt-roku {
  width: 35%;
  background-color: var(--background-red);
  color: white;
  line-height: 2.5;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  position: absolute;
  top: 80px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pc-header {
  margin-top: 50px;
  text-align: center;
  text-decoration: underline;
  color: #157a6e;
  padding: 0px 10px;
}

.popis-pc {
  padding-left: 15px;
  margin: 15px 0px;
  line-height: 1.2;
}

.price-container {
  background-color: #f8978f;
  margin: 5px auto;
  width: 90%;
  border-radius: 12px;
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.puvodni-price {
  text-decoration: line-through;
  color: gray;
  font-size: 24px;
}

.sleva-price {
  font-size: 24px;
  font-weight: bold;
}

.usetrite {
  font-style: italic;
}

.kosik {
  background-color: lightgray;
  width: 150px;
  text-align: center;
  line-height: 2;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  border: solid 1px black;
}

.info-container {
  width: 85%;
  background-color: #01d54b4d;
  margin: 10px auto;
  border-radius: 5px;
  position: relative;
  padding: 10px 20px;
  justify-content: space-between;
  display: flex;
  border: solid 1px green;
  box-sizing: border-box;
  align-items: center;
}

.posta {
  font-weight: bolder;
  color: green;
  font-family: "Gill Sans", sans-serif;
}

.info {
  color: green;
  text-decoration: underline;
  font-style: italic;
}

@media (max-width: 768px) {
  .ramecek {
    width: 450px;
  }

  .produkt-roku {
    font-size: 14px;
    width: 40%;
  }

  .bestseller {
    width: 45%;
    font-size: 14px;
  }

  .sleva {
    position: absolute;
    right: 8px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .price-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .kosik {
    margin-top: 10px;
  }

  .info-container {
    padding: 5px;
  }

  .posta {
    font-size: 12px;
  }
}
